Server_Command = cmd.exe /c net start mysql
database_username = stephe
Database_Name = test
Test_Button = true
Author.Geometry.X = 92
Author.Geometry.Y = 16
Author.Geometry.Width = 312
Author.Geometry.Height = 471
Title.Geometry.X = 375
Title.Geometry.Y = 16
Title.Geometry.Width = 312
Title.Geometry.Height = 471
Collection.Geometry.X = 665
Collection.Geometry.Y = 16
Collection.Geometry.Width = 312
Collection.Geometry.Height = 471
Series.Geometry.X = 950
Series.Geometry.Y = 14
Series.Geometry.Width = 312
Series.Geometry.Height = 471
Main.Geometry.X = 102
Main.Geometry.Y = 482
Main.Geometry.Width = 140
Main.Geometry.Height = 50
