/* Cascading Style Sheet for smm-server Songs data, on low dpi devices (laptop, desktop). */
/* must be utf-8-unix */

.tabbutton {background-color: darkseagreen; color: black; border: none; }
.tabcontent {display: none; }

div.table {display: table; }
span.caption {display: table-caption; position: relative; left: 10%; }
div.row {display: table-row; }
input[type=search] {display:table-cell; width: 30em; }
label {display: table-cell; text-align: right; margin-right: 2px; }

.album_art_item {border: medium solid rgba(0, 0, 0, 0.0); vertical-align: middle; }

.album_row {overflow-x: scroll; white-space: nowrap; }
/* to get scrolling in Firefox, must be a 'div', not a 'span'. sigh */

td:nth-child(even) {background-color: lightgrey; }

/* Select sizes according to pixel density. devicePixelRatio gives */
/* 'px' scaling; it isn't strong enough on Android; we effectively */
/* square it. And it doesn't apply to fonts in the first place. */

/* "resolution" in dpi is 96 * devicePixelRatio */

@media screen and (min-resolution: 288dpi) {
    /* devicePixelRatio >= 3; phone */
    input[type=search] {font-size: xx-large; }
    input[type=submit] {font-size: xx-large; }
    input[type=text] {font-size: xx-large; }
    label {font-size: xx-large; }

    .tabbutton {font-size: xx-large; }
    .text {font-size: xx-large; }
}

@media screen and (min-resolution: 192dpi) and (max-resolution: 287dpi) {
    /* 2 <= devicePixelRatio < 3; tablet */
    input[type=search] {font-size: larger; }
    input[type=submit] {font-size: larger; }
    input[type=text] {font-size: larger; }
    label {font-size: larger; }

    .tabbutton {font-size: larger; }
    .text {font-size: larger; }
}

@media screen and (max-resolution: 191dpi) {
    /* 0 < devicePixelRatio < 2; laptop, desktop */
    input[type=search] {font-size: medium; }
    input[type=submit] {font-size: medium; }
    input[type=text] {font-size: medium; }
    label {font-size: medium; }

    .tabbutton {font-size: medium; }
    .text {font-size: medium; } /* same as default */
}
/* end of file */
