/* Cascading Style Sheet for smm-server Songs data, on medium dpi devices (tablet).*/
/* must be utf-8-unix */

thead {background: grey;}
tr {vertical-align: top; }
.album_art_list {height: 200px; width: 210px; overflow-y: scroll; } /* width +10px for Android scroll bar */
.categories_list {height: 200px; overflow-y: scroll; }
.liner_notes_header {text-align:middle; width: 70px; overflow-x: wrap; }
.text {font-size: larger; }
/* end of file */
